html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.linkStyle {
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.navStyle {
  display: flex;
  padding: 30px;
  border-bottom: 1px solid #ddd;
}

:root {
}